@page "/incomes/new"
@rendermode InteractiveServer
@using ExpenseTracker.Components.Data.Models
@using ExpenseTracker.Components.Services
@inject IncomeService IncomeService
@inject NavigationManager Navigation

<h3>Add New Income</h3>

<IncomeForm Income="newIncome"
			SubmitButtonText="Add Income"
			OnValidSubmit="HandleAddIncome" />


@code {
	Income newIncome = new Income
	{
		Date = DateTime.Now
	};

	private void HandleAddIncome()
	{
		newIncome.Date = newIncome.Date.ToUniversalTime();
		IncomeService.addIncome(newIncome);
		Navigation.NavigateTo("/incomes");
	}
   
}
